.container{
    background-color: rgb(255, 192, 203);
    height: 100vh;
}

.container > .row{
    height: 20%;
}

.row > div{
    border: 1px solid black;
}

.row_nested{
    height: 100%;
    padding: 5px;
}

.row_nested > div{
    border: 1px solid white;
    background-color: rgb(240, 127, 128);
    padding: 20px;  /* inserito esclusivamente per rispecchiare lo screen */
}